@font-face {
    font-family: "geist";
    src: url(./fonts/GeistVariableVF.ttf);
}

@font-face {
    font-family: "gothic";
    src: url(./fonts/OldLondon.ttf);
}

@font-face {
    font-family: "merriweather";
    src: url(./fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: 'ancm';
    src: url('./fonts/logo/Ancient-Medium.ttf.woff')
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf')
}

* {
    margin: 0px;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#navbar {
    width: 100vw;
    height: 69px;
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    position: sticky;
}

#maintxtnvbradmn {

    transition: all .3s ease;
}

#maintxtnvbradmn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#navbradmn {
    width: 100vw;
    height: 69px;
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    position: sticky;
    align-items: center;
    justify-content: center;
    font-family: ancm;
    font-size: 65px;
    overflow-y: hidden;
    user-select: none;
}

#discountbarifso {
    width: 100vw;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    background-color: #ebebeb;
    font-size: 14px;
    font-weight: 600;
}

#mainbody {
    width: 100vw;
    min-height: calc(100vh - 113px);
    max-width: 1800px;
}

#mainbdyacc {
    width: 100vw;
    height: fit-content;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;

}

#maincntnraccinfdtls {
    background-color: rgb(219, 219, 219);
    height: 600px;
    width: 80%;
    max-width: 1000px;
    min-width: 800px;
    border-radius: 7px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
}

#lftnvbrsd,
#rgtnvbrsd {
    display: flex;
    flex: 1;
    height: 100%;
}

#mainwebttlflb {
    width: fit-content;
    padding-left: 60px;
    text-align: center;
    padding-right: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: merriweather;
    font-size: 24px;
    min-width: 100px;
}

#mainfrmprdct {
    width: 100%;
    height: fit-content;
}

#lftsdmnnvbr,
#rgtsdmnnvbr {
    display: flex;
    flex: 1;
    height: 100%;
}

#middlebtnsmn {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

#middlebtnsmn div {
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: geist;
    font-weight: 700;
    user-select: none;
    font-size: 15px;
}

#middlebtnsmn {
    display: flex;
    justify-content: space-around;
}

#middlebtnsmn div {
    position: relative;
    /* padding-bottom: 10px; */
    cursor: pointer;
    color: black;
}

#middlebtnsmn div::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    color: black;
}

#middlebtnsmn div:hover {
    color: black;
    /* Text color on hover */
}

#middlebtnsmn div:hover::after {
    width: 100%;
}

#middlebtnsmn:hover div {
    color: rgb(150, 150, 150);
    /* Change all to gray on hover */
}

#middlebtnsmn div:hover {
    color: black;
    /* Override hovered element to black */
}


#mainaccbodylgsg {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    /* Hide overflow from the main container */
}

#lftsdmndvcntntr {
    width: 49vw;
    height: 100vh;
}

#rgtsdmndvcntntr {
    width: 51vw;
    height: 100vh;
    /* Make it 100vh to fit the screen height */
    overflow-y: scroll;
}

#mainfrmfrlgin {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mainrgtcntnt {
    width: fit-content;
    height: fit-content;
    padding: 80px;
}

#lftsdmndvcntntr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/pexels-igrejapreta-2522085.jpg);
}

#mainquotetxt {
    color: white;
    font-family: geist;
    font-size: 40px;
    font-weight: 600;
    width: 70%;
    text-shadow: 1px 1px 5px black;
}

#mainlgocntnr {
    width: 375px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ancm;
    font-size: 100px;
    line-height: 5px;
    overflow-y: hidden;
}

#mainttlabtstracc,
#mainttlabtstraccadmn {
    width: 375px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat";
    margin-top: 24px;
    margin-bottom: 24px;
}

#mainttlabtstraccadmn {
    margin-top: 0px;
    font-size: 30px;
}

#mainbdyadmnpnllgin {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

#loginaccmngr {
    width: 375px;
    height: 274px;
    display: flex;
    flex-direction: column;
}


#loginaccmngradmn {
    width: 375px;
    height: calc(274px - 40px);
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}


#signupaccmngr {
    width: 375px;
    /* height: 575px; */
    height: 274px;
    opacity: 0%;
    display: none;
    flex-direction: column;
    transition: all .5s ease;
}

#lginorsgnupswtchrbg {
    width: 375px;
    height: 80px;
    display: flex;
    justify-content: center;
}



.toggle-container {
    position: relative;
    width: 245px;
    height: 44px;
    overflow-y: hidden;
    user-select: none;
}

.toggle-switch {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    overflow-y: hidden;
}

.toggle-option {
    flex: 1;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: rgb(126, 126, 126);
    font-weight: bold;
    font-family: "Montserrat";
    z-index: 999;
}

.toggle-option:hover {
    color: black;
}

.toggle-button {
    position: absolute;
    width: calc(50% - 4px);
    height: 85%;
    margin-left: 4px;
    background-color: #ffffff;
    border-radius: 25px;
    transition: transform 0.3s;
    /* margin-top: 0.5%; */
}

.toggle-switch:checked+.toggle-label .toggle-button {
    transform: translateX(100%);
}

.active {
    color: black;
}

#inputbgcntnr {
    width: 100%;
    height: 82px;
}

#ttlinptfld {
    width: 100%;
    height: 22%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: geist, roboto;
    font-weight: 600;
    color: rgb(37, 37, 37);
    margin-left: 1px;
}

#errtxteml,
#errtxtpass {
    color: #ff5555;
    font-size: 12px;
    display: none;
    font-family: geist;
    margin-top: 1px;
}

#loginaccmngr input,
#signupaccmngr input,
#loginaccmngradmn input {
    width: calc(94% - 2px);
    height: 48%;
    margin-top: 3px;
    outline: none;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    font-family: geist;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    /* Default border */
    transition: border 0.3s, outline-offset 0.3s;
    margin-left: 1px;
}

#loginaccmngradmn input {
    width: calc(93.5% - 2px);

}

#inputbgcntnrpass,
#inputbgcntnrbtm {
    width: 100%;
    height: 82px;
    margin-top: 5px;
}

#loginaccmngr input:focus,
#signupaccmngr input:focus,
#loginaccmngradmn input:focus {
    border: 1px solid black;
    outline: 1px solid black;
    outline-offset: 0px;
}

#forgotpasscntnrbg {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: geist;
    font-size: 14px;
    font-weight: 700;
}

a {
    color: black;
}

#mainlgincntnbtnbgcntnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#mainlgincntnbtnbgcntnradmn {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

#mainlginbtn,
#mainsginbtn,
#mainlginbtnadmnauth {
    background-color: black;
    width: 100%;
    height: 80%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: none;
}

#mainlginbtnadmnauth {
    height: 70%;
}

#mainlginbtn:hover,
#mainsginbtn:hover,
#mainlginbtnadmnauth:hover {
    background-color: rgb(31, 31, 31);
}

#mainsginbtn {
    height: 55%;
}

#lftsdmndvcntntr {
    position: relative;
    /* Make the container relative */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Example height */
}

#pausplybtn {
    position: absolute;
    /* Position the button absolutely within the container */
    top: 10px;
    /* Distance from the top */
    right: 10px;
    /* Distance from the right */
    cursor: pointer;
    /* Change cursor to pointer */
}

#usertocaccptbgcntnr {
    width: 100%;
    height: 12%;
    display: flex;

}

#scceptocstat {
    width: 88%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: geist;
    font-size: 14px;
    font-weight: 600;

}


/* From Uiverse.io by mobinkakei */
.toggler {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggler input {
    display: none;
}

.toggler label {
    display: block;
    position: relative;
    width: 50px;
    height: 26px;
    border: 1px solid #d6d6d6;
    border-radius: 36px;
    background: #e4e8e8;
    cursor: pointer;
}

.toggler label::after {
    display: block;
    border-radius: 100%;
    background-color: #d7062a;
    content: '';
    animation-name: toggler-size;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 26px;
    height: 26px;
    transform: translateY(-50%) translateX(-50%);
    transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.toggler input:checked+label::after,
.toggler input:checked+label .toggler-on,
.toggler input:checked+label .toggler-off {
    left: 75%;
}

.toggler input:checked+label::after {
    background-color: #50ac5d;
    animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
    opacity: 1;
    z-index: 2;
}

.toggler input:checked+label .toggler-off,
.toggler input:not(:checked)+label .toggler-on {
    width: 0;
    height: 0;
    opacity: 0;
}

.toggler .path {
    fill: none;
    stroke: #fefefe;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

@keyframes toggler-size {

    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

@keyframes toggler-size2 {

    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

#mainherovdplr {
    width: 100%;
    height: 200px;
}

#maincntnrfrinf {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
}

#tmmninfbg {
    width: 90%;
    max-width: 850px;
    height: 100%;
}

#tpmninfcntnr {
    width: 100%;
    height: 200px;
    margin-top: 60px;
}

#miansvgicntp {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mntxtfrsrvcs {
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    height: 25%;
    font-family: geist;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ypdastttsmn {
    width: 100%;
    height: 10%;
    font-size: 14px;
    font-family: geist;
    display: flex;
    align-items: center;
    color: #5a5a5a;
    justify-content: center;
    font-weight: 550;
}

#btmcnnrmninfstts {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mninnrcntnr {
    /* background-color: rgb(233, 233, 233); */
    width: 95%;
    min-height: 10px;
    height: fit-content;
    border-radius: 12px;
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cntnrfldinf1 {
    transition: all .1s ease;
    width: calc(100% - 30px);
    height: 65px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
}

#cntnrfldinf1:hover {
    background-color: #dddddd;
}

#mnttldb {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: geist;
    font-weight: 550;
    margin-left: 20px;
    margin-right: 20px;
}

#mnlftsdoprtnlupdn {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#mnoprtnlstts {
    background-color: #dddddd;
    border-radius: 25px;
    min-width: 10px;
    height: 40%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mnanthrsvg,
#mnanthrsvg1 {
    width: fit-content;
    margin-left: 5px;
    margin-right: -5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mntxtoprtnlstts,
#mntxtoprtnlstts1 {
    margin-right: 10px;
    margin-left: 10px;
    font-family: geist;
    font-size: 13px;
}

#loadersthbtnmn {
    display: none;
}

#mnothrbtns {
    /* background-color: green; */
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mnsdpnllft {
    width: 15%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

#hpmecntnrmn,
#prodcntnrmn,
#prodlstcntnrmn {
    width: 90%;
    height: 45px;
    margin-top: 5px;
    font-size: 16px;
    font-family: geist;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

#hpmecntnrmn:hover,
#prodcntnrmn:hover,
#prodlstcntnrmn:hover {
    background-color: rgb(226, 226, 226);
}

#mnlftbrswtchr {
    background-color: #178ad6;
    height: 30px;
    width: 5px;
    border-radius: 25px;
    position: absolute;
    margin-top: 10px;
    left: 20px;
}

#miainbdyadmnpnl {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#dshbrdprflmnpnl,
#mnproductcntnr,
#mnproductlstcntnr {
    flex: 1;
    height: fit-content;
    min-height: calc(100vh - 75px);
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 12px;
}

#dshbrdprflmnpnl {
    display: flex;
}

#mnproductcntnr,
#mnproductlstcntnr {
    display: none;
}

#prodttl {
    font-family: geist;
    color: #333333;
    width: 90%;
    font-size: 14px;
    margin-top: 5px;
}

#mnscrlablpn {
    display: flex;
    overflow-y: scroll;
    flex: 1;
}

#lftbrcntnradmn {
    width: 260px;
    height: 100vh;
}

#rgtbrcntnrmnadmn {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

#navbrcv {
    width: 100%;
    height: 75px;
    display: flex;
    /* background-color: rgb(226, 226, 226); */
}

#maintpsmbl {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: ancm;
}

#mnsrchbrcntnr {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mnutiltscntnrrgtsd {
    min-width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-right: 20px;
}

#mainadmnpfpshwr {
    width: 50px;
    margin: 5px;
    height: 50px;
    border-radius: 50%;
    background-color: #178ad6;
    font-family: Montserrat;
    font-size: 1.2rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#admnpnlmnsrchbr {
    width: 80%;
    height: 50%;
    max-width: 800px;
    outline: none;
    border: none;
    padding-right: 10px;
    font-size: 15px;
    border-right: 1px solid rgb(150, 150, 150, 0.788);
    border-bottom: 1px solid rgb(150, 150, 150, 0.788);
    border-top: 1px solid rgb(150, 150, 150, 0.788);
    font-family: geist;
    border-radius: 0px 25px 25px 0px;
}

#mnsbmntsrchicn,
#mnsbmntsrchicn2nd {
    background-color: white;
    width: 45px;
    height: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(150, 150, 150, 0.788);
    border-bottom: 1px solid rgb(150, 150, 150, 0.788);
    border-top: 1px solid rgb(150, 150, 150, 0.788);
    border-radius: 25px 0px 0px 25px;
}

#mnsbmntsrchicn2nd {
    height: calc(52.5%);
    margin-top: 1px;
}

#mnprfladmninf {
    width: 95%;
    max-width: 900px;
    min-width: 100px;
    display: flex;
    height: 300px;
    align-items: center;
}

#maininnrcntnrfraddprdcts,
#maininnrcntnrfraddprdctslstprdcts {
    width: 95%;
    max-width: 900px;
    font-family: geist;
    min-width: 100px;
    display: flex;
    min-height: calc(100vh - 75px);
    height: fit-content;
    align-items: center;
    flex-direction: column;
}

#mnuprlblfrprdcts {
    width: 90%;
    height: 150px;
    font-size: 30px;
    display: flex;
    font-family: geist;
    font-weight: 600;
    align-items: center;
}

#imgaddrbg,
#namaddrfrprdctbg {
    width: 100%;
    height: 300px;
    display: flex;
}

#descaddrfrprdctbg {
    width: 100%;
    height: fit-content;
    display: flex;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#namaddrfrprdctbg {
    height: 100px;
    margin-top: 15px;
}

#namaddrfrprdctbgprc {
    width: 100%;
    height: 80px;
    display: flex;
    margin: 0px 0px 0px 0px;
}

#mnimgaddrprodttl {
    max-width: 100px;
    width: 10%;
    min-width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#mnimgaddrprodttldesc {
    max-width: 100px;
    width: 10%;
    min-width: 80px;
    flex: 1;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

#tpbrfroptns {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#maininptbgfrnmprdctdesc {
    flex: 1;
    margin-left: 15px;
}

#maininptbgfrnmprdctctgry {
    flex: 1;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maininptbgfrnmprdctctgry div {
    width: 100px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 0px 15px;
    border-radius: 25px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.selectclass {
    background-color: #178ad688;
    border: 2px solid #178ad6;
    color: white;
}

#tpbrfroptns div {
    height: 80%;
    user-select: none;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    transition: all .1s ease;
    font-weight: 600;

}



#tpbrfroptns div:hover {
    background-color: rgb(204, 204, 204);
}

#tpbrfroptns div:active {
    transform: scale(0.9);
}

#mnimgaddrprodwrkbg,
#maininptbgfrnmprdct {
    flex: 1;
    margin-left: 15px;
}

#maininptbgfrnmprdct {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tpbrimgshwr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}

#tpbrimgshwr div {
    width: 31%;
    height: 90%;
    border-radius: 7px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #6b6b6b;
}

#lftsdmnlgobg {
    height: 70%;
    width: auto;
    aspect-ratio: 1/1;
    background-color: #178ad6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 6rem;
    color: white;
    font-weight: 600;
}

#bgcntnradmnpfpinf {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

#othrutltsfradmninf {
    font-family: geist;
    height: 65%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#lftsdmnbtnlgout {
    min-width: 100px;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoutadmnmnbtn,
#logoutadmnmnbtnlng {
    outline: none;
    border: none;
    font-family: geist;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff1f1f;
    color: white;
    height: 40px;
    width: 155px;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .1s ease;
    margin: 10px;
}

#logoutadmnmnbtnlng {
    width: 275px;
}

#logoutadmnmnbtn:hover,
#logoutadmnmnbtnlng:hover {
    box-shadow: 0px 0px 0px 2px #ff55556b;
}

#logoutadmnmnbtn:active,
#logoutadmnmnbtnlng:active {
    transform: scale(0.9);
}

#mnadmnshwusrnm {
    height: fit-content;
    font-size: 3.5rem;
    font-weight: 650;
    line-height: 4rem;
}

#mnadmnshweml {
    color: #575757;
    font-size: 15px;
}

#mnadmnshwid {

    color: #575757;
    font-size: 15px;
}

#admnsmnlst {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admnlstttlmn {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: geist;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#mnadmnbtlcntnt {
    width: 95%;
    max-width: 900px;
    min-width: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: geist;
    align-items: center;
}

#tableoutrcntnrttls,
#tableoutrcntnrcntnt {
    width: 90%;
    height: 55px;
    justify-content: space-evenly;
    display: flex;
    border-bottom: 1px solid #178ad6;
}

#idttl,
#namttl,
#emlttl,
#passttl,
#idcntnt,
#namcntnt,
#emlcntnt,
#passcntnt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    font-weight: 600;
    font-size: 18px;
}

#idttl,
#idcntnt {
    width: 15%;
}

#namttl,
#namcntnt {
    width: 28%;
}

#emlttl,
#emlcntnt {
    width: 28%;
}

#passttl,
#passcntnt {
    width: 28%;
}

#tableoutrcntnrcntnt div {
    font-weight: 400;
}



#maininnrcntnrfraddprdcts input {
    width: calc(94% - 2px);
    height: 38px;
    margin-top: 3px;
    outline: none;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    font-family: geist;
    background-color: transparent;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    transition: border 0.3s, outline-offset 0.3s;
    margin-left: 1px;
}

#maininnrcntnrfraddprdcts textarea:focus,
#maininnrcntnrfraddprdcts input:focus {

    border: 1px solid black;
    outline: 1px solid black;
    outline-offset: 0px;
}



textarea {
    max-width: 100%;
    min-height: 70px;
    max-height: 500px;
    overflow-y: auto;
    resize: none;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    width: calc(98.5%);
    height: 38px;
    margin-top: 3px;
    outline: none;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    font-family: geist;
    background-color: transparent;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    transition: border 0.3s, outline-offset 0.3s;
    margin-left: 1px;
}

#topcntrlsmn {
    width: 98.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #dfdfdf;
    border-radius: 7px;
}

#topcntrlsmn div {
    height: 80%;
    user-select: none;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    transition: all .1s ease;
    font-weight: 600;
    font-size: 14px;

}

#topcntrlsmn div:hover {
    background-color: rgb(204, 204, 204);
}

#topcntrlsmn div:active {
    transform: scale(0.9);
}

#btntxtareamnbgcntnr {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

#mrdwnprwvr {
    height: fit-content;
    max-height: 500px;
    width: 98.5%;
    display: none;
}

#preview {
    background-color: #e2e2e2;
    width: 100%;
    min-height: 70px;
    border-radius: 7px;
    padding: 10px;
}


#maininptbgfrnmprdctctgryvars {
    flex: 1;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#ctgry1 {
    width: 97%;
    height: 100px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

#tpbrctgrym {
    width: 100%;
    height: 50%;
    display: flex;
}

#clrbgcntnr,
#szclrbgcntnr {
    width: 50%;
    height: 100%;
    display: flex;
}

#colorttlmn {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #383838;
}

#colormninpt {
    flex: 1;
    display: flex;
    align-items: center;
}

#colormninpt input {
    width: 85%;
    margin: 0px;
    margin-left: 2px;
    height: 65%;
}

#addvarmncntnr {
    width: 98.5%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 7px;
    background-color: rgb(235, 235, 235);
}


#contanervarsszs {
    width: 95%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.size-option {
    height: 90%;
    width: auto;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.size-option:hover {
    background-color: #178ad688;
    color: #fff;
}

.size-option.active {
    background-color: #178ad688;
    color: #fff;
    border-color: #178ad6;
}

#color-display {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

#mnvartnsfrprdct {
    width: 100%;
    height: fit-content;
}

#mnsvbtn {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}







#mnsvbtnfrprdcts {
    background-color: black;
    width: 375px;
    height: 45px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: geist;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    transition: all .1s ease;
}

#mnsvbtnfrprdcts:hover {
    background-color: rgb(31, 31, 31);
}




#mnsvbtnfrprdcts:active {
    transform: scale(0.9);
}

#errormsg {
    background-color: #ff5555;
    padding: 10px;
    width: 300px;
    height: 60px;
    position: absolute;
    top: 10px;
    border-radius: 80px;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    color: #811111;
    z-index: 99999;
}

#successmsg {
    background-color: #5cc25c;
    padding: 10px;
    width: 300px;
    height: 70px;
    position: absolute;
    top: 10px;
    border-radius: 80px;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    color: #164d16;
}

#maininnrcntnrfraddprdctslstprdcts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mnuprlblfrprdctslst {
    width: 90%;
    height: 150px;
    font-size: 30px;
    display: flex;
    font-family: geist;
    font-weight: 600;
    align-items: center;
}

#mainprdsctsshwrcntnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    margin-bottom: 50px;
}

#maincntnrfrprdct {
    background-color: #e2e2e2;
    width: 95%;
    height: 120px;
    border-radius: 7px;
    margin-top: 10px;
    display: flex;
}

#mncntnrffrimg {
    width: 120px;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mnimgcntnr {
    background-color: rgb(197, 197, 197);
    width: 85%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 7px;
}

#mnttlfrprdctcntnr {
    /* background-color: red; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

#mndltoptnfrprdct {
    width: 10%;
    min-width: 50px;
    max-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ttlfrprdct {
    font-size: 22px;
    font-weight: 600;
    height: 30%;
    display: flex;
    align-items: flex-end;
}

#prcofprdct {
    font-size: 22px;
    font-weight: 600;
    height: 30%;
    display: flex;
    align-items: center;
}

#spplrnmfrprdct {
    font-size: 13px;

}

#addedatdtls {
    font-size: 13px;
    flex: 1;
    display: flex;
    align-items: center;
}

#mnothroptns {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#variantsdv {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#mnvrntstxt {
    font-size: 16px;
}

#mnvrntsfrsza {
    flex: 1;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mnvrntsfrsz {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows */
    align-items: center;
    justify-items: center;
}

#smlvrnt {
    width: auto;
    height: 25px;
    aspect-ratio: 1/1;
    /* margin: 2px; */
    border-radius: 7px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notavail {
    background-color: rgb(184, 184, 184);
}

.available {
    background-color: #178ad688;
    color: #fff;
    border: 1px solid #178ad6;
}

/* main page css starting */
#mainherovdplr {
    background-color: rgb(219, 219, 219);
    width: 100vw;
    height: 60vh;
    background-image: url(./assets/image\ \(2\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mnlftsdcntnr {
    width: 50%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#herolbl {
    font-family: ancm;
    color: #ffffffe8;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-50%);

}

#deschero {
    width: 100%;
    font-family: geist;
    color: rgb(230, 230, 230);
    text-align: center;
    text-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    max-width: 600px;
    transform: translateY(-50%);
    justify-content: center;
}

#mnrgtsdfrbtns {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

#mnrgtsdfrbtns div {
    background-color: white;
    font-family: montserrat;
    font-weight: 600;
    width: 40%;
    min-width: 200px;
    max-width: 400px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;
}


#mnrgtsdfrbtns div:hover {
    box-shadow: 0px 0px 0px 5px #ffffff88;
    letter-spacing: 3px;
}

#pplctgrymn {
    width: 100%;
    height: fit-content;
    min-height: 400px;
    margin-top: 20px;
}

#ttlfrctgry {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
    font-family: geist;
    font-weight: 600;
    text-decoration: underline;
}

#mainsginbtn.disabled,
#mainlginbtn.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

#mainsginbtn.enabled,
#mainlginbtn.enabled {
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
}

#frmsgbupmn {
    width: 100%;
    height: 100%;
}

#mainbodyfracchmpg {
    width: 100vw;
    min-height: 10vh;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mnprfltpbnnrusrdtls {
    height: 500px;
    width: 95%;
    max-width: 1200px;
    font-family: geist;
    min-width: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

#mncntnrfrusrdtls {
    background-color: rgb(223, 223, 223);
    width: 80%;
    height: 70%;
    border-radius: 25px;
    max-width: 1000px;
    font-family: montserrat;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

#mnusrprflpc {
    border: 2px solid #178ad6;
    background-color: #178ad6;
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translateY(-125%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 6.5rem;
    font-weight: 600;
}

#mnttlfrnm {
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2.5rem;
}

#emlandlctn,
#emlandlctn1 {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#emlandlctn1 {
    height: 20px;
}

#slrsclgoutbrn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}

#rgtsdmnnvbr div div {
    background-color: #178ad6;
    color: white;
    font-family: montserrat;
    font-weight: 600;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: -10px;
    margin-right: -10px;
}

#rgtsdmnnvbr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    min-width: fit-content;
}



#rgtsdmnnvbr div {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}

#mntrndngcntnr {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    font-family: geist;
    height: 25vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    /* Enable horizontal scrolling if needed */
    max-height: 500px;
    min-height: 300px;
    white-space: nowrap;
    /* Prevent child elements from wrapping */
}

#mnprdctcrd {
    height: 100%;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    margin-right: 20px;
    flex: 0 0 auto;
    /* Prevent cards from shrinking and ensure they take up only as much space as needed */
}

#mnprdctcrd:hover {
    background-color: #d6d6d6;
}

#mnprdctimg {
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 70%;
    border: none;
    outline: none;
    transition: all .1s ease;
}

#lftscrlndrgtbgbtn {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 4vw;
    min-height: 45px;
    max-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#scrollLeftBtn svg {
    transform: rotate(180deg);
}

#scrollLeftBtn {
    margin-right: 5px;
}

#scrollRightBtn {
    margin-right: 20px;
}

#lftscrlndrgtbgbtn button {
    width: 40px;
    height: 40px;
    background-color: black;
    outline: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


#malesctncprdcts {
    background-color: red;
    width: 100%;
    height: 60vh;
    margin-top: 30px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-image: url(./assets/image\ \(4\).png);
}

#mnprdctttl {
    width: 100%;
    height: 12%;
    font-size: calc(1.1vw + 1.1vh);
    /* Adjust these values as needed */
    line-height: 1;
    /* Adjust the line height for better readability */
    display: flex;
    font-weight: 600;
    align-items: center;
}

#prdctspplrndctgry {
    width: 100%;
    height: 6%;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#prdctpricemn {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: calc(1.1vw + 1.1vh);
    /* Adjust these values as needed */
    line-height: 1;
    font-weight: 600;
}


#mnfooterfl {
    background-color: rgb(236, 236, 236);
    width: 100vw;
    height: 250px;
    margin-top: 50px;
}


#searchbrmn {
    width: 100vw;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: -70px;
    transition: all .3s ease;
}

#navbrcls {
    position: absolute;
    right: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbrcls svg:hover {
    cursor: pointer;
    background-color: #dddddd;
    border-radius: 7px;
}

#searchResults {
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 9998;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    margin-top: calc(-60vh - 200px);
    background-color: rgb(233, 233, 233);
    font-family: geist;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 20px;
}

#mncntnrfrsrcrprdcts{
    width: 60%;
    height: 80px;
    min-height: 80px;
    border-radius: 7px;
    transition: all .1s ease;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
}
#mncntnrfrsrcrprdcts:hover{
    background-color: #ffffff;
}

#mningfrprdctssrch{
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mnprdctsrchimg{
    height: 95%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background-color: #ccc;
}
#mnprdctsttlcntnr{
    flex: 1;
    display: flex;
    flex-direction: column;
}
#titleprdctsrch{
    width: 100%;
    height: 40%;
    font-size: 22px;
    display: flex;
    font-weight: 600;
    align-items: center;
}
#spplrfrprdctndctgry{
    width: 100%;
    font-size: 14px;
    height: 25%;
}
#pricefrprdc{
    flex: 1;
    font-size: 20px;
}


#mnbdyfrprdctshwr{
    width: 95vw;
    min-height: 50vh;
    height: fit-content;
    max-width: 1800px;
    min-width: 600;
    display: flex;
    font-family: geist;
    max-height: 700px;
}
#lftsdfrimgsg{
    height: calc(100vh - 70px);
    width: 60%;
    display: flex;
    max-height: 700px;
}
#mnimgcntnrfrshwprdcts{
    flex: 1;
    max-height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#othrimgscntnr{
    width: 20%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 700px;
}
#othrimgscntnr div{
    height: 15%;
    width: 90%;
    border-radius: 7px;
    cursor: pointer;
    transition: all .1s ease;
}
#othrimgscntnr div:hover{
    width: 95%;
    height: 17%;
}
#suppliernmfrprdctshw{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-end; */
    font-size: 14px;
}
#rgtsdfrimg{
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    max-height: 700px;
}
#mnprdctttlfrprdctinf{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 3.2vw;
    font-weight: 600;
}
#suppliernmfrprdctshwctgry{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
}

#szshwrfrprdctpg{
    width: 90%;
    height: 20%;
}
#tprwfrprdctsher12 div{
    /* background-color: rgb(194, 194, 194); */
    width: 15%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;
}
#tprwfrprdctsher12{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
#qunttyfrprdct{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
}
#pymntprdctmnoffr{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
}
#mnbtnfraddprdct{
    background-color: #000;
    color: white;
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* font-weight: 600; */
    transition: all .3s ease;
    margin-top: 2%;
    cursor: pointer;
}
#mnbtnfraddprdct:hover{
    letter-spacing: 3px;
}